* {

    margin: 0;
}

:root {
    font-family: monospace;
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
    text-align: center;
}

/*Common background Styling for all components. */
.common-container {
    padding: 1.2rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #CCD6DD;
    width: 90rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

/* Badge styling */
/*Styling for home-icon and 99+badge*/
.parent {
    /* border: 1px solid black; */
    position: relative;
    padding: 1.6rem;
    font-size: 3rem;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.2rem;
    left: 3.3rem;
    padding: 0.3rem;
    background-color: #3F729B;
    border-radius: 50%;
    color: white;
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1.5rem;
}


/*Styling for 1.action div and its badge 2.Button and its badge*/
.action-hide {
    width: 10rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: large;
    border-radius: 2rem;
    cursor: pointer;
}

.badge-5 {
    left: 0.5rem;
}

.hide-badge {
    left: 10rem;
}

.hide {
    display: none;
}

/* Styling for text on badge */
.text {
    font-size: large;
}

.badge-on-text {
    top: -2rem;
    left: 25rem;
    padding: 1.6rem;
    font-size: larger;
}

/* STYLING FOR CHIPS */
.fruits-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content:flex; */
    width: 100%;
    border: 2px solid black;
    padding: 1rem;
    gap: 1rem;
    font-size: large;
}

.fruit {
    background-color: #3F729B;
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
}

.chip-btn {
    font-weight: bold;
    border-radius: 50%;
}


/* STYLING FOR DIALOG */
.dialog-boxes {
    /* border: 1px solid black; */
    width: 100%;
    height: 70%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: medium;
}

.dialog-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
    width: 25rem;
    padding: 1rem;
}

.btn-dialog-action {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-dialog-action button {
    margin: 0.5rem;
    border: none;
    color: #3F729B;
    font-weight: bold;
    cursor: pointer;
}

.btn-dialog-action button:hover {
    background-color: rgb(236, 230, 230);
}

.dialog-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* BOX SHADOW for components------------ */
.ddBox-shadow {
    box-shadow: 1px 1px 4px 1px #3F729B;
}



/*Styling for DRAWER-------------------------------*/
.titles {
    /* border: solid blue; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20rem;
    padding: 1rem;
    justify-content: space-evenly;
}

.drawer-icons {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    flex-direction: column;
    justify-content: space-around;
    color: #3F729B;
    margin-top: 2rem;
    gap: 1rem;
}

.fas:active {
    background-color: rgb(236, 230, 230);
    ;
    color: red;
}
.fas:hover {
    background-color: rgb(236, 230, 230);
}